:root{

    --color-green: rgb(0, 202, 0);
    --color-purple: rgb(122, 5, 64);
    --dark-blue:#263248;
    --dark-more-blue:#202a3d;
    --color-blue:#0042bd;
    --color-white: #ffffff;
    --color-black: black;

}