@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    cursor: pointer;
}
.nav{
    height:98.49px ;
}
nav{
    background: var(--dark-blue);
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}
.nav-container{
    display: grid;
    grid-template-columns: 25% 65% 10%;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.logo-nav{
    display: flex;
    justify-content: center;
}
.logo-nav img{
    width: 300px;
}
.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.button-nav{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--color-white);
    width: 70%;
}
.button-nav a{
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
    align-items: center;
    height: 15px;
    padding: 5px;
    color: var(--color-white);
    font-size: 15px;
}
.button-nav a:hover{
    transform: scale(1.1);
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes a{
    font-size: 25px;
    margin: 0 5px ;
    transition: 0.3s;
    color: var(--color-white);
}
.redes a:hover{
    transform: scale(1.1);
}
.bi-instagram,
.bi-whatsapp{
    transition: 0.5s;
}
.bi-instagram:hover{
    color: var(--color-purple);
}
.bi-whatsapp:hover{
    color: var(--color-green);
}



.hamburguer-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0 20px 0 0;
}
.button-menu{
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.redes-menu{
    padding: 0 30px;

}
.redes-menu a{
    margin: 5px  ;
    font-size: 25px;
    color: var(--color-white);
}
.button-menu a{
    margin-top: 10px ;
    font-size: 17px;
    font-weight: bolder;
    color: var(--color-white);
    transition: 0.3s;
}
.button-menu a:hover{
    transform: scale(1.1);
}
.hamburger span {
    display: block;
    height: 4px;
    width: 30px;
    background: var(--color-white);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.menu-mobile {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: var(--dark-blue);
    width: 200px;
    display: flex;

    flex-direction: column;
    pointer-events: none;
    text-align: start;
    /* Impede interação enquanto o menu estiver fechado */
}

.menu-mobile.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    /* Permite interação quando o menu estiver aberto */
    box-shadow: -10px 0 100px var(--color-black);
    z-index: 150;

}

.menu-mobile a:last-child {
    border-bottom: none;
}

.menu-bar {
    width: 100%;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
}
