.restricao {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.restricao-ini{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg,rgba(38, 50, 72, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.inicio-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

.inicio {
    width: 1300px;
    margin-top: 50px;
}

.img-ini {
    display: flex;
    justify-content: center;
}
.img-container-ini{
    display: flex;
    justify-content: center;
}
.img-ini img {
    width: 100%;
}

.title-ini {
    display: flex;
    justify-content: center;
    align-items: center;

}

.title-container-ini {
    padding-left: 5px;
    width: 80%;
    border-left: 6px solid var(--color-blue);
    height: 50%;

    h1 {
        color: var(--color-blue);
        transition: 0.5s;
    }

    strong {
        color: var(--dark-blue);
        transition: 1s;
    }
}

.title-container-ini:hover {
    h1 {
        color: var(--dark-blue);
    }

    strong {
        color: var(--color-blue);
    }
}

.button-ini{
    display: flex;
    margin-top: 10px;
}
.button-ini a{
    font-weight: bolder;
    font-size: 15px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.3s;
}
#conheca{
    border: 1px solid var(--color-blue);
    margin-right: 5px;
}
#conheca:hover{
    transform: scale(1.1);
    background: var(--color-blue);
    color: var(--color-white);
}
#comece{
    border: 1px solid var(--color-green);
    margin-left: 5px;
}
#comece:hover{
    transform: scale(1.1);
    background: var(--color-green);
    color: var(--color-white);
}


.empresa{
    width: 1300px;
    margin-top: 80px;
}
.empresa-container{
    width: 100%;
}
.conheca{
    width: 100%;
    display: flex;
    justify-content: start;
}
.conheca h1{
    width: 55%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background: var(--dark-blue);
    color: var(--color-white);
}
.areas{
    width: 100%;
    display: flex;
    justify-content: end;
}
.areas h1{
    width: 55%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background: var(--dark-blue);
    color: var(--color-white);
}
.processo{
    display: grid;
    grid-template-columns: 50% 50% ;
    margin-bottom: 50px;
}
.line-processo{
    display: flex;
    justify-content: end;
}
.line-left{
    height: 50%;
    width: 50%;
    border-left: 6px solid var(--color-blue);
    border-bottom: 6px solid var(--color-blue);
    border-radius: 0 0 0 10px;
}
.line-right{
    height: 50%;
    width: 50%;
    border-right: 6px solid var(--color-blue);
    border-bottom: 6px solid var(--color-blue);
    border-radius: 0 0 10px 0;
}
.line-processo-right{
    display: flex;
    justify-content: start;
}
.text-processo{
    border: 2px solid var(--color-blue);
    padding: 20px;
    text-align: justify;
    margin: 5px 0;
    border-radius: 5px;
    background: var();
}
.restricao-empresa{
    width: 100%;
    display: flex;
    justify-content: center;
}
.text-processo ul{
    padding:  0 0 0 20px;
}