@media(max-width:1250px) {
    .button-nav a {
        font-size: 10px;
    }
    .cliente{
        flex-direction: column-reverse;
        align-items: center;
    }
    .cliente-container{
        margin-top:100px;
        margin-right: 50px;
    }
}

@media(max-width: 930px) {
    .nav {
        height: 72.33px;
    }

    .nav-container {
        display: flex;
    }

    .logo-nav img {
        width: 200px;
    }

    .hamburger {
        display: flex;
    }

    .button-container,
    .redes {
        display: none;
    }

    .inicio-container {
        display: flex;
        flex-direction: column;
    }

    .title-ini {
        margin-top: 100px;
    }

    .title-container-ini {
        width: 60%;
    }

    .img-ini img {
        width: 70%;
    }

    .img-container-ini {
        margin-top: 50px;
    }

    .processo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conheca {
        justify-content: center;
    }

    .conheca h1 {
        width: 80%;
    }

    .text-processo {
        width: 80%;
    }

    .line-processo {
        display: none;
    }

    .areas h1 {
        width: 80%;
    }

    .areas {
        justify-content: center;
    }

    .line-processo-right {
        display: none;
    }

    .missao-container {
        flex-direction: column;
        align-items: center;
    }

    .missao-indi {
        width: 80%;
        border: none;
        border-bottom: 2px solid var(--dark-blue);
        padding: 20px 0;
    }

    .title-missao h1 {
        font-size: 20px;
    }

    .services-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services-indi {
        width: 80%;
    }

    #service-imp,
    #service-pa {
        margin: 0 0 0 0 !important;
    }
    .title-services{
        display: flex;
        justify-content: center;
    }
    .title-services h1{
        width: 80%;
    }
    .slider-container{
        flex-direction: column-reverse;
        height: 100%;
    }
    .image-footer{
        width: 15%;
    }
    .image-footer img{
        width: 100%;
        
    }
    .contato-indi{
        width: 42%;
    }
    .contato-twk{
        width: 42%;
    }
}
@media(max-width:730px){
    .cliente-container{
        margin-top: 100px;
        margin-right: 0;
        width: 50%;
        
    }
    .hexagono{
        height: 88px;
        width:100px;
    }
    .footer-container{
        flex-direction: column;
    }
    .image-footer{
        width: 100%;
        align-items: center;
    }
    .contato-indi,
    .contato-twk{
        width: 100%;
        align-items: center;
        margin-bottom: 20px;
    }
    .image-footer img{
        width: 150px;
    }
}
@media(max-width:380px) {
    .conheca h1 {
        font-size: 25px;
    }

    .areas h1 {
        font-size: 25px;
    }

    .inicio {
        margin: 20px;
    }

    .title-container-ini {
        width: 90%;
    }

    .title-container-ini h1 {
        font-size: 27px;
    }

    .title-container-ini p {
        font-size: 15px;
    }

    .img-ini img {
        width: 100%;
    }
    .title-services h1{
        font-size: 25px;
    }
    .title-indi-services h1{
        font-size: 20px;
    }
    .slider-left h2{
        font-size: 25px;
    }
    .cliente {
        width: 100%;
        max-width: 1300px;
        margin: 100px auto 0 auto;
        padding: 0 15px; /* margem interna para não colar nas bordas */
        box-sizing: border-box;
    }
    
    .cliente-container {
        width: 70%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 20px;
        justify-items: center;
        margin-right: 80px;
    }
   .title-cliente h1{
    font-size: 22px;
   }
    
    
}